<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/TheoTheme.Base" >
        <activity
            android:name=".PlayerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="userPortrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="THEOPLAYER_LICENSE"
            android:value="@string/theoplayer_test_license" />
    </application>

</manifest>