<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.theoplayer.sample.playback.googlecast"
    tools:ignore="LockedOrientationActivity">

    <!-- In order to play online streams or ads it is needed to add permissions below -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/TheoTheme.Base">

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.theoplayer.android.api.cast.chromecast.DefaultCastOptionsProvider" />

        <activity
            android:name=".PlayerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/TheoTheme.SplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="THEOPLAYER_LICENSE"
            android:value="your_license_here" />

    </application>

</manifest>
