<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.theoplayer.sample.ads.custom"
    tools:ignore="GoogleAppIndexingWarning">

    <!-- In order to play online streams or ads it is needed to add permissions below -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/TheoTheme.Base">

        <activity
            android:name=".SetupActivity"
            android:launchMode="singleTop"
            android:theme="@style/TheoTheme.SplashScreen"
            android:windowSoftInputMode="stateAlwaysHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".PlayerActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".SetupActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
